.buttons{
	margin-top: 5px !important;
}

.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.main-body{
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    padding-top: 15px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.header h1{
    font-size: 35px;   
}

.sub-text{
    display: inline;
    font-size: 22px;
}